.list_song_song {
  padding: 20px 0;
  margin : 30px 10px 0 10px;
  width: 60% !important;
  text-align: center;
  .select {
    background-color: $whity;
  }
}

.list_song_tonality {
  padding: 20px 0;
  margin : 30px 0 0 0;
  width: 10% !important;
  text-align: center;
  .select {
    background-color: $whity;
  }
}

.ts-control {
  border: $whity;
  border-radius: 12px;
  text-align: center;
}

.ts-control>input {
  min-width: 1rem;
}

.ts-dropdown, #locale-ts-control, #list_song_song_id-ts-control, #list_song_tonality-ts-control {
  text-align: center;
}

