#sign-in-nav {
  margin: 8px 0px 0px 15px;
}

.logo-nav {
  flex: 2;
  display: flex;
  align-items: center;
  color: $darkgreen;
  h4 {
    margin: 0;
    font-family: $logo-font;
  }
  img {
    margin-right: 12px;
    width: 45px;
  }
  @media (max-width: 650px) {
    width: 30px;
    font-size: 10px;
    img {
      margin-right: 8px;
      width: 30px;
    }
  }
}

.navbar-mh, .mobile-menu-mh ul {
  list-style: none;
  padding: 0;

  a {
    text-decoration: none;
    letter-spacing: 1px;
  }
}

.navbar-mh {
  display: none;
  justify-content: space-between;
  width: 100%;
  margin: auto;

  li {
    text-align: center;
    #logo-nav {
      flex: 2;
    }
    #lang {
      flex: 1;
    }
    #nav-sign-in {
      flex: 1;
    }
  }

  .dropdown-menu {
    top: 4% !important;
    left: 1% !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;
    transform: translate3d(-12px, 42px, 0px) !important;
    min-width: 8rem !important;
    border-radius: 2px !important;
  }

  a {
    padding: 8px 16px;
    display: flex;
    justify-content: center;

    &.dropdown-item {
      display: flex;
      align-items: center;
      justify-content: center ;
      padding: 4px 8px;
      text-transform: none;
      i {
        margin-left: 8px;
      }
    }

    &.dropdown-toggle::after {
      display: none;
    }
  }

  @media (min-width: 768px) {
    display: flex;
  }
}

.mobile-menu-mh {
  position: relative;
  background: transparent;
  width: 100%;

  .link-nav {
    font-size: 0.7em;
  }

  .burger {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 5;
    cursor: pointer;

    div {
      color: $whity;
      width: 36px;
      height: 7px;
      background: #FDE2BD;
      margin-bottom: 4px;
      transition: all .3s ease
    }
  }

  .mask {
    background: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s ease;
  }

  ul {
    position: fixed;
    z-index: 2;
    margin: 0;
    width: 100vw;
    background: white;
    padding: 32px;
    margin-top: -80%;
    transition: margin-left .5s ease;
  }

  li {
    margin-bottom: 8px;
  }

  a {
    padding: 2px 8px;
    font-size: 1.8em;
  }

  &.show {
    display: block;

    ul {
      margin-top: 0;
    }

    .mask {
      position: fixed;
      opacity: 1;
    }

    .burger {
      div:nth-child(1) {
        opacity: 0;
      }

      div:nth-child(2) {
        transform: rotate(45deg) translateY(11px);
      }

      div:nth-child(3) {
        transform: rotate(-45deg) translateY(-11px);
      }
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}
  a.indent {
    text-indent: 2em;
    border: none !important;
  }

  a.hidden {
    display: none;
  }

// .hide-description {
//   display: none;
// }

// @media screen and (max-width: 700px) {
//   nav, .navbar {
//   height: 150px !important;
//     width: 100% !important;

//   }
//   .container {
//   display: inline-block;
//   justify-content: center !important;
//   }
//   .container:first-child {
//     border: 2px solid;
//   }
// }

