
.container-fond {
  min-height: 120vh;
}
/*--------------------
Buttons
--------------------*/
.button {
  display: block;
  background: hsl(86, 76%, 71%);
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  margin: 20px 0;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
    box-shadow: inset 0 3px 0 hsla(0, 0%, 0%, 0%), 0 3px 3px hsla(0, 0%, 0%, 20%);
    border-radius: 5px;
  }

  &:hover::after {
    background: hsla(0, 0%, 0%, 10%);
    box-shadow: inset 0 3px 0 hsla(0, 0%, 0%, 20%);
  }

}
.btn-social {
  padding-left: 64px;
  position: relative;
  z-index: 1;

  .fa {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 100%;
    text-align: center;
    background: hsla(0, 0%, 0%, 10%);
    line-height: 3.2;
    border-radius: 5px 0 0 5px;
  }

}
.btn-facebook {
  background-color: hsl(221, 44%, 41%);
}
.btn-twitter {
  background-color: hsl(206, 82%, 63%);
}
.btn-google {
  background-color: hsl(7, 71%, 55%);
}
.btn-github {
  background-color: hsl(210, 12%, 16%);
}


/*--------------------
Form
--------------------*/
.form {

  fieldset {
    border: none;
    margin: 20px 0;
    position: relative;

    input {
      width: 100%;
      height: 54px;
      color: hsl(0, 0%, 20%);
      padding: 15px 40px 15px 15px;
      border-radius: 5px;
      font-size: 14px;
      outline: none!important;
      border: 1px solid hsla(0, 0%, 0%, 30%);
      box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, 20%);
      vertical-align: top;
    }

  }

  .button {
    width: 100%;
    outline: none!important;
    background: $darkgreen;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 3px 0px hsla(86, 21%, 44%, 20%);
    text-shadow: 0 2px 3px hsla(0, 0%, 0%, 20%);
  }

}



/*--------------------
Signup
--------------------*/
.signup {
  width: 50%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 800px;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 3px 25px hsla(0, 0%, 0%, 20%);
  overflow: hidden;
  display: flex;
  @media only screen and (max-width: 650px) {
    width: 90%;
    top: 70%;
    flex-direction: column;
    align-items: center;
  }
}

.signup-connect, .signup-classic {
  padding: 30px 50px;
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-shadow: 0 2px 3px hsla(0, 0%, 0%, 10%);
  }
  @media only screen and (max-width: 650px) {
    h1 {
      display: none;
    }
  }
}

.signup-connect {
  width: 50%;
  background: linear-gradient(134deg, hsl(44, 96%, 65%), hsl(34, 95%, 45%));
  color: hsl(0, 0%, 100%);
  a {
    // color: $whity !important;
    text-decoration: none;
  }
  h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-shadow: 0 2px 3px hsla(0, 0%, 0%, 10%);
    @media only screen and (max-width: 650px) {
      display: none;
    }
  }
  @media only screen and (max-width: 650px) {
    width: 100%;
    order: 2;
  }
}

.signup-classic {
  width: 50%;
  h3 {
    font-weight: 600;
  }
  a {
    color: $whity;
  }
  fieldset::after {
    content: '\f007';
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 13px;
    z-index: 2;
    width: 20px;
    color: hsla(0, 0%, 0%, 20%);
    text-align: center;
  }

  fieldset.email::after {
    content: '\f0e0';
  }

  fieldset.password::after {
    content: '\f023';
  }
  @media only screen and (max-width: 650px) {
    width: 100%;
    order: 1;
  }
}

.signup-okay {
  a {
    text-decoration: none;
    color: $whity;
    transition-duration: 0.2s;
    &:hover {
      transform: scale(1.1);
      transition-duration: 0.2s;
    }
  }
  width: 100%;
  padding: 30px 50px;
  h1 {
    font-size: 26px;
    font-weight: normal;
    margin-top: 12px;
    margin-bottom: 30px;
    text-shadow: 0 2px 3px hsla(0, 0%, 0%, 10%);
  }

  fieldset::after {
    white-space: pre-line !important;

    content: '';
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 13px;
    z-index: 2;
    color: hsla(0, 0%, 0%, 20%);
    text-align: center;
  }

  fieldset.email::after {
    content: '\f0e0';
  }

  fieldset.password::after {
    content: '\f023';
  }
  fieldset.list::after {
    content: '\e489';
  }
}


input[type="file"] {
    display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  background: linear-gradient(134deg, hsl(34, 95%, 45%), hsl(44, 96%, 65%));
  padding: 15px 10px !important;
  margin: 5px 0px;
  border-radius: 6px;
  border: none;
  text-decoration: none !important;
  a, input {
    color: black;
  }
  &:hover {
      color: white !important;
      box-shadow: inset 0 3px 0 hsla(0, 0%, 0%, 20%);
  }
}

.signupou {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 75%;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 3px 25px hsla(0, 0%, 0%, 20%);
  overflow: hidden;
  display: flex;
  @media only screen and (max-width: 650px) {
    top: 75%;
    width: 90%;
    top: 52%;
    order: 1;
  }
}

.croyable {
  cursor: pointer;
  width: 100%;
  text-align: center;
  background: linear-gradient(134deg, hsl(34, 95%, 45%), hsl(44, 96%, 65%));
  padding: 15px 10px !important;
  margin: 5px 0px;
  border-radius: 6px;
  border: none;
  text-decoration: none !important;
  a, input {
    color: black;
  }
  &:hover {
      // color: white !important;
      box-shadow: inset 0 3px 0 hsla(0, 0%, 0%, 20%);
  }
}
